.App {
  text-align: center;
}

.nav-bar url {
  list-style: none;
  margin: 0;
  padding: 0;

}

.nav-bar li {
  display: inline-block;
  margin: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}